* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    width: 700px;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    
}

#container > h1 {
    text-align: center;
}

#content {
    margin-top: 20px;
}

.comment {
    border: 1px dashed blue;
    width: 400px;
    margin: auto;
}